<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link href="/productApp.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navi">
                <ul>
                    <li class="items"><a href="/">Shop</a></li>
                    <li class="items"><a href="/product-page">Product Page</a></li>
                    <li class="items"><a class = 'active' href="/contact-us">Contact us</a></li>
                </ul>
        
        </nav>
    </header>
    <main class ='main'>
       <h1 class="h1">Contact us</h1>
       <form action="/success" method="get">
         <table>
            <tr>
                <td>Name</td>
                <td><input type="text" required></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" required></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
         </table>
       </form>
       
    </main>
</body>
</html>