<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
</head>
<body>
    <header>
        <nav>
                <ul>
                    <li><a href="/">Shop</a></li>
                    <li><a href="product-page">Product Page</a></li>
                    <li><a href="contact-us">Contact us</a></li>
                </ul>
        
        </nav>
    </header>
    <main>
       <h1>Product Page</h1>
       <p>Product Lists...</p>
    </main>
</body>
</html>