<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="product-page">Product Page</a></li>
                <li><a href="contact-us">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/product-page" method="POST">
            <input type="text" name="title">
            <button type="submit">Get product</button>
        </form>
    </main>
</body>
</html>