<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
    <link href="/productApp.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navi">
                <ul >
                    <li class="items"><a href="/">Shop</a></li>
                    <li class="items"><a href="/product-page">Product Page</a></li>
                    <li class="items"><a href="/contact-us">Contact us</a></li>
                </ul>
        
        </nav>
    </header>
    <main>
       <h2>We will contact you shortly</h2>
    </main>
</body>
</html>